@import "tailwindcss";
@plugin "./hero.ts";

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

main {
  @apply relative;
}
main::after {
  @apply absolute top-0 z-[-1] h-full w-full opacity-2 content-[""];
  background-image: url("../../public/grid.svg");
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
